<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/"><img src="https://www.adictiz.com/hs-fs/hubfs/Logos/logo-Adictiz-main-menu.png?t=1539335686185&width=130&name=logo-Adictiz-main-menu.png" alt="adictiz-logo"></a>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/Balha147" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/mohamed-hedi-basly-b48944122/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="nav-item nav-link" href="https://hedi-basly.com" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>